*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 22px;
    color:  #304275;
}
h2{
    font-size: 50px;
}

body{
    height: 100vh;
}
li{
    list-style: none;
}

/* Скрываем scrollbar для IE, Edge и Firefox */
body::-webkit-scrollbar {
    display: none;
}   
 
body {
    -ms-overflow-style: none;  /* IE и Edge */
    scrollbar-width: none;  /* Firefox */
}

header{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    flex-direction: row;
    width: 100%;
    height: 146px;
    flex-direction: row;
    justify-content: space-evenly;
}

#burger-menu{
    display: none;
}

header nav{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 250px;
}

header ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 500px;
}

header li{
    cursor: pointer;
}

#left-panel{
    justify-content: flex-end;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
}

main #video-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#video-section iframe{
    width: 100%;
    height: 100%;
    aspect-ratio: 19/8;
}

#video-section video{
    width: 100%;
    height: 100%;
    aspect-ratio: 15/9;
}

span{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 10vw;
    background-image: url("assets/img/vectors.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#logo{
    position: absolute;
    top: 0;
    background-color: white;
    background-image: url("assets/img/logo1.png");
    background-size: contain;
    background-position: center;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    border: 10px solid white;
}

.burgerTitle{
    display: none;
}

#news-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    width: 80%;
    gap: 50px;
}

#news-section h2{
    text-align: start;
    align-self: start;
}

#news-section-one{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
}

#news-secondary{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#news-section-two{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
}

#news-section-three{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 50px;
}

/* #news-main{
    grid-column: 1;
    grid-row: 1 / 3;
    background: linear-gradient(90deg, rgba(48, 66, 117, 0.60) 40.04%, rgba(48, 66, 117, 0.00) 100%), url("assets/img/section_one_one.png"), lightgray 50% / contain no-repeat;
    background-position: center;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: start;
    box-sizing: border-box;
    padding: 30px;
    width: 927px;
    height: 530px;
} */

/* #news-text-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    width: 70%;

}

#news-text-wrapper h3{
    color: white;
    font-size: 28px;
}
#news-text-wrapper p{
    color: white;
    font-size: 24px;
}

#news-section-two{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
} */



@media (max-width: 1000px){
    *{
        color: #E85221;
        font-size: 15px;
    }

    p{
        font-size: 15px;
    }

    h2{
        color: #304275;
        font-size: 22px;
    }

    #logo{
        left: 20px;
        width: 98px;
        height: 98px;
    }

    #logo.hiden{
        display: none;
    }

    header{
        height: 90px;
        justify-content: end;
    }

    #burger-menu{
        display: flex;
        align-items: flex-end;
        justify-content: end;
    }

    .burgerTitle{
        display: block;
        color: #E85221;
    }

    #lines{
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        padding: 5px;
        border: 1px solid #E85221;
    }

    .navigation{
        display: block;
        position: absolute;
        opacity: 0%;
        background-color: white;
        top: -100%;
        right: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        transition: all ease-in 1s;
    }

    .navigation.active{
        position: absolute;
        display: block;
        top: 20px;
        opacity: 100%;
        right: 0;
        transition: all ease-in 1s;
        padding: 20px;
        height: 100%;
        /* width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
         */
    }

    .navigation ul{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;
    }

    #video-section iframe{
        aspect-ratio: 4/3;
    }

    #news-section-one{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        gap: 15px;
    }

    #news-section-two{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        gap: 15px;
    }

    #news-section-three{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 15px;
    }

}