*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 22px;
    font-family: "Inter";
    color:  #304275;
}
h2{
    font-family: "Dela Gothic One";
    font-weight: 400;
    font-size: 50px;
}
h3{
    font-family: "Inter";
    font-weight: 700;
}
a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 400;
}
p{
    font-size: 24px;
    font-weight: 400;
}

body{
    height: 100vh;
}
li{
    list-style: none;
}

/* Скрываем scrollbar для IE, Edge и Firefox */
body::-webkit-scrollbar {
    display: none;
}   
 
body {
    -ms-overflow-style: none;  /* IE и Edge */
    scrollbar-width: none;  /* Firefox */
}

header{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    flex-direction: row;
    width: 100%;
    height: 146px;
    flex-direction: row;
    justify-content: space-evenly;
}

#burger-menu{
    display: none;
}

header nav{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 250px;
}

header ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 560px;
}

header li{
    cursor: pointer;
}

#left-panel{
    justify-content: flex-end;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
}

main #video-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#video-section iframe{
    width: 100%;
    height: 100%;
    aspect-ratio: 19/8;
}

#video-section video{
    width: 100%;
    height: 100%;
    aspect-ratio: 15/9;
}

span{
    display: block;
    overflow: hidden;
    width: 100%;
    height: 10vw;
    background-image: url("assets/img/vectors.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#logo{
    position: absolute;
    top: 0;
    background-color: white;
    background-image: url("assets/img/logo1.png");
    background-size: contain;
    background-position: center;
    border-radius: 50%;
    width: 180px;
    height: 180px;
    border: 10px solid white;
}

.burgerTitle{
    display: none;
}

#news-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    width: 80%;
    gap: 50px;
}

#news-section h2{
    text-align: start;
    align-self: start;
}

#news-section-one{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 50px;
}

#news-main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 3vw;
    border-radius: 3vw;
    background: linear-gradient(90deg, rgba(48, 66, 117, 0.60) 40.04%, rgba(48, 66, 117, 0.00) 100%), url("./assets/img/secBG.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.25);
}

#news-main h3, #news-main p{
    color: white;
}

#news-main #news-text-wrapper{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 15px;
}


#news-secondary{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#news-main-ul ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#news-main-ul h3, #news-main-ul p{
    color: black;
}

#news-secondary-one #news-secondary-text-wrapper{
    background: linear-gradient(90deg, rgba(48, 66, 117, 0.60) 10.04%, rgba(48, 66, 117, 0.00) 100%), url("./assets/img/compasBG.png") center/cover no-repeat;
}

#news-section-one #news-secondary div:nth-child(2n){
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    background-image: url("./assets/img/bg2.png");
}

#news-section-one #news-secondary div:nth-child(2n) p, #news-section-one #news-secondary div:nth-child(2n) h3{
    color: black;
}

#news-section-two{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    gap: 50px;
}

#news-section-three{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
    
}

#news-secondary-text-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding: 2vw;
    border-radius: 3vw;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.25);
}

#news-secondary-text-wrapper h3, #news-secondary-text-wrapper p{
    color: white;
}

#news-section-three div:nth-child(2n){
    color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    background-image: url("./assets/img/bg2.png");
}

#news-section-three div:nth-child(2n) p, #news-section-three div:nth-child(2n) h3{
    color: black;
}

#news-section-three div:nth-child(2n+1){
    background: linear-gradient(90deg, rgba(48, 66, 117, 0.60) 10.04%, rgba(48, 66, 117, 0.00) 100%), url("./assets/img/compasBG.png") center/100% no-repeat;
}

#news-section-three div:nth-child(2n+1) p{
    color: white;
}

#info-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    width: 80%;
    gap: 50px;
}

#info-section h2{
    text-align: start;
    align-self: start;
}

#info-section-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

#info-child{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#info-child #info-logo{
    grid-column: 1/2;
    background-color: white;
    display: flex;
    width: 100px;
    height: 100px;
}

#info-text-wrapper{
    grid-column: 2/3;  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding: 5px;    
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#footer-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 50px;
    align-items: center;
}

@media (max-width: 1000px){
    *{
        color: #E85221;
        font-size: 15px;
    }

    p{
        font-size: 10px;
    }

    h2{
        color: #304275;
        font-size: 22px;
    }
    h3{
        font-size: 12px;
    }
    a{
        font-size: 14px;
    }

    #news-secondary p{
        font-size: 10px;
    }
    #news-main-ul p{
        font-size: 12px;
    }
    #news-main-ul h3{
        font-size: 12px;
    }

    #logo{
        left: 20px;
        width: 98px;
        height: 98px;
    }

    #logo.hiden{
        display: none;
    }

    header{
        height: 90px;
        justify-content: end;
    }

    #burger-menu{
        display: flex;
        align-items: flex-end;
        justify-content: end;
    }

    .burgerTitle{
        display: block;
        color: #E85221;
    }

    #lines{
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        padding: 5px;
        border: 1px solid #E85221;
    }

    .navigation{
        display: block;
        position: absolute;
        opacity: 0%;
        background-color: white;
        top: -100%;
        right: 0;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        transition: all ease-in 1s;
    }

    .navigation.active{
        position: absolute;
        display: block;
        top: 20px;
        opacity: 100%;
        right: 0;
        transition: all ease-in 1s;
        padding: 20px;
        height: 100%;
    }

    .navigation ul{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;
    }

    #video-section iframe{
        aspect-ratio: 4/3;
    }

    #news-section-one{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        gap: 15px;
    }

    #news-section-two{
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        gap: 15px;
    }

    #news-section-three{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 15px;
    }

    #news-section-three div:nth-child(2n+1){
        background: linear-gradient(90deg, rgba(48, 66, 117, 0.60) 10.04%, rgba(48, 66, 117, 0.00) 100%), url("./assets/img/compasBG.png") center/cover no-repeat;
    }

    #info-section-wrapper{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 20px;
    }

    #info-child{
        display: grid;
        grid-template-columns: 70px 1fr;
        grid-template-rows: 1fr;
        gap: 20px;
    }

    #info-child #logo-wrapper{
        grid-column: 1/2;
        display: flex;
        width: 70px;
        height: 70px;
    }
    #info-child #info-logo{
        width: 100%;
        height: 100%;
    }

    #info-text-wrapper{
        grid-column: 2/2; 
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 5px;
        text-wrap: anywhere;  
    }



    #footer-nav{
        display: none;
    }
}